write a python program to print 1-10 using while loop


---

In [ ]:
n=1
while n<=10:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

write a python program to print 15-25 using while loop

In [ ]:
n=15
while n<=25:
  print(n)
  n=n+1

15
16
17
18
19
20
21
22
23
24
25

python program from 15-25 and sum of even numbers using while loop

In [ ]:
n=15
sum=0
while n<=25:
  if n%2==0:
    print(n)
    sum=sum+n
  n=n+1
print(sum)

16
18
20
22
24
100

print a python program 10-1

In [ ]:
n=10
while n>=1:
  print(n)
  n=n-1

10
9
8
7
6
5
4
3
2
1

print a python program 10-1 using while loop and print odd numbers

In [ ]:
n=10
sum=0
while n>=1:
  if n%2==1:
    print(n)
    sum=sum+n
  n=n-1
print(sum)

9
7
5
3
1
25

python program while else

In [ ]:
n=100
while n>0:
  print(n)
  n=n-1
else:
  print("break loop")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
break loop