Print each character of a string.

In [ ]:
a="sankar"
for i in a:
  print(i)

s
a
n
k
a
r

Print all even numbers from a list.
Explanation: Iterate through a list and use a condition to check for even numbers.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for num in a:
  if num%2==0:
    print(num)

2
4
6
8
10

Calculate the sum of numbers in a tuple.
Explanation: Use a for loop to iterate through a tuple and keep adding each number to a total variable

In [ ]:
a=(2,3,4,5)
total=0
for num in a:
  total+=num
print("sum of numbers in tuple",total)

sum of numbers in tuple 14

Print names from a list of strings.
Explanation: Loop through a list of names and print each one.

In [ ]:
a=["sankar","srinu","devi"]
for i in a:
  print(i)

sankar
srinu
devi

Print square of numbers using range.
Explanation: Use range to generate numbers, then square each number inside the loop.

In [ ]:
for i in range(1,10):
  square=i**2
  print(square)

1
4
9
16
25
36
49
64
81

Count vowels in a string.
Explanation: Loop through each character and check if it is a vowel using a condition

In [ ]:
a=input("enter a  string ")
vowels_count=0
vowels="aeiouAEIOU"
for char in vowels:
  if char in a:
     vowels_count+=1
print("count of vowels",vowels_count)

enter a stringabcdefghijklmno
count of vowels 4

Reverse a string using for loop.
Explanation: Iterate through the string and build a new reversed string by prepending characters.

In [ ]:
x="sankar"
j=""
for char in x:
  j=char+j
print("reversed_string",j)

reversed_string raknas

Check if elements in list are positive.
Explanation: Use a loop and condition to check and print whether each element is positive or not.

In [ ]:
a=[1,-2,3,4,-5]
for num in a:
  if num>0:
    print(f"{num}positive")
  else:
    print(f"{num}negative")

1positive
-2negative
3positive
4positive
-5negative

. Print numbers from 10 to 1 using range.
Explanation: Use a reversed range to print numbers in descending order.

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

Convert each string in a list to uppercase.

In [ ]:
a=["sankar","sunny"]
for i in a:
  print(i.upper())

SANKAR
SUNNY

 Print each element of a tuple with its index.
Explanation: Use range and indexing to print the index and corresponding element in the tuple.

In [ ]:
a=("lorry","bus","car","tractor")
for i in range(0,len(a)):
  print(i,a[i])

0 lorry
1 bus
2 car
3 tractor

In [ ]:
a="sankar"
for i in a:
  print(i,end="@")

s@a@n@k@a@r@

In [ ]:
for i in "sankar":
  print(i,end=" ")

s a n k a r

In [ ]:
a=[1,2,3,4,5,6,7,8,9,12,43]
for i in a:
  if i%2==0:
    print(i)

2
4
6
8
12

In [ ]:
a=[1,2,3,4,5,6,7,8,9,12,43]
count=0
for i in a:
  if i%2==0:
    count=count+1
print(count)

5

In [ ]:
a=[1,3,2,4,7,99,6,9,23,45]
list=[]
for i in a:
  if i%2==0:
    list.append(i)
print(list)

[2, 4, 6]

In [ ]:
for i in range(1,100):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
a=(1,2,3,4,5,6,7,8)
total=0
for i in a:
  total=total+i
print(total)

36

In [ ]:

for i in ["sankar","ravi","prabhas"]:
  print(i)

sankar
ravi
prabhas

In [ ]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
for i in range(1,10):
  square=i**2
  print(square)

1
4
9
16
25
36
49
64
81

In [ ]:
a="sankar"
vowels="aeiouAEIOU"
for i in a:
  if "aeiouAEIOU"in a:
    print(a)

In [ ]:
a="jadeja"
vowels="aeiouAEIOU"
count=0
for i in vowels:
  if i in a:
    print(i)

a
e

In [ ]:
a="abcdef"
count=0
for i in "aeiouAEIOU":
  if i in a:
    count=count+1
print(count)

2

In [ ]:
a="sankar"
for i in a[::-1]:
  print(i,end="")

raknas

In [ ]:
a="sankar"
for i in range(len(a)-1,-1,-1):
  print(a[i],end="")

raknas

In [ ]:
a=[1,2,4,-1,-2,-3]
for i in a:
  if i >0:
    print(i)
  else:
    print(i)

1
2
4
-1
-2
-3

In [ ]:
a=[1,2,4,-1,-2,-3]
psum=0
nsum=0
tsum=0
for i in a:
  if i >0:
    psum=psum+i
    print(i)

  else:
    nsum=nsum+i
    print(i)
print(psum)
print(nsum)
tsum=psum+nsum
print(tsum)

1
2
4
-1
-2
-3
7
-6
1

In [ ]:
a="sankar"
for i in range(0,len(a)-1):
  if i%2==1:
    print(a[i])

a
k

In [ ]:
for i in range(1,11):
  if i%3==0:
    print(i)

3
6
9

In [ ]:
a=[10,9,3,4,5,6,2]
for i in a:
  if i%3==0:
    print(i)

9
3
6

In [ ]:
a=[1,2,3,4,5]
product=1
for i in a:
  product=product*i
print(product)

120

In [ ]:
a=("sankar","car","lorry")
for i in range(0,len(a)):
  print(i,":",a[i])

0 : sankar
1 : car
2 : lorry

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in ["sankar"]:
  print(i.upper())

SANKAR

In [ ]:
a="sankar"
count=0
for i in a:
  if i=="a":
    count=count+1
print(count)

2

In [ ]:
text = "banana"
char_to_count = 'a'
count = 0
for char in text:
    if char == char_to_count:
        count += 1

print(f"The character '{char_to_count}' appears {count} times.")

The character 'a' appears 3 times.