write a python program to print each character of a string

In [ ]:
n=input("enter a string")
for i in n:
  print(i)

enter a stringsankar
s
a
n
k
a
r

write apython program to print index value

In [ ]:
a=[[1,2,3],34,56,"sankar","ravi",{"banana","apple"}]
for i in range(0,len(a)):
  if i==0:
    print(a[i])

[1, 2, 3]

write a python program to print only list in list

In [ ]:
abc=[[1,2,3],True,False,"apple","ravi",{"banana","guava"}]
for i in range(0,len(abc)):
  if type(abc[i])==list:
    print(abc[i])

[1, 2, 3]

write a Python program to print list in list and append in empty list

In [ ]:
a=[[1,2,3],True,False,"apple","ravi",{"banana","guava"}]
result=[]
for i in range(0,len(a)):
  if type(a[i])==list:
    result.append(a[i])
print(result)

[]

write a python program to print only even numbers in reverse 1-10 and sum of even and sum of odd

In [ ]:
sum_of_even=0
sum_of_odd=0
for i in range(10,1,-2):
    sum_of_even=sum_of_even+i
print(sum_of_even)
for i in range(9,0,-2):
  sum_of_odd=sum_of_odd+i
print(sum_of_odd)

30
25

write a python program to print 1-10 even numbers in reverse

In [ ]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

write a python program to print 1-10 odd numbers in reverse

In [ ]:
for i in range(9,0,-2):
  print(i)

9
7
5
3
1

write a python to print two digit integer from a list of digits

In [ ]:
n=[12,13,144,155,166,1888,1999]
for i in n:
  if i>10 and i<100:
    print(i)

12
13

write a python program to print only list items in alist

In [ ]:
abc=["sankar","dinesh","mohith",21,32,[1,2,3],{"banana"}]
for i in range(0,len(abc)):
  if type(abc[i])==list:
    print(abc[i])

[1, 2, 3]

write a python program to print 3 digit number convert into string and print sum 158 =1+5+8

In [ ]:
a=[1,2,3,158,2000,2]
sum=0
for i in a:
  if i>100 and i<=999:
    print(i)
    x=str(i)
    for char in x:
      sum=sum+int(char)
print(sum)

158
14

write a python program to print only even position in a string

In [ ]:
a="sankar"
for i in range(0,len(a)):
  if i%2==0:
    print(a[i])

s
n
a