print all vowels from list of single chars

In [ ]:
list=["a","e","i","j","h","k","o","u"]
for i in list:
  if i in "aeiou":
    print(i)

a
e
i
o
u

print all strs which are len > 5 and push to new list

In [ ]:
a=["sankar","ravi","srinu","devi"]
new_list=[]
for i in a:
  if len(i)>5:
    new_list.append(i)
print(new_list)

['sankar']

print all odd indices values in list

In [ ]:
a=[1,2,3,4,5,6]
for i in range(1,len(a),2):
  print(i)

1
3
5

4) print all odd indices values and find only str and that
too len >3 and len<5

In [ ]:
a=[1,3,"sankar","devi","ramu","mokshith","sankar"]
for i in range(1,len(a),2):
  if type(a[i])==str:
    if len(a[i])>3 and len(a[i])<5:
      print(a[i])

devi

print all even indices values from list and
push to new list

In [ ]:
list=["sankar",1,2,3,4,5,"devi","ravi","mokshith"]
new_list=[]
for i in range(1,len(list),2):
  new_list.append(list[i])
print(new_list)

[1, 3, 5, 'ravi']

In [ ]:

9596722879