In [ ]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

2. Tuple with Mixed Data Types

In [ ]:
t = (101, "Ravi", 45.6, True)
print(t)

(101, 'Ravi', 45.6, True)


3. Accessing Tuple Elements (Indexing)
Use index numbers to access elements.

In [ ]:
t = (10, 20, 30)
print(t[1])

20

Slicing Tuples

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[1:4])

(2, 3, 4)

5. Immutability

In [ ]:
t = (1, 2, 3)

In [ ]:
t

(1, 2, 3)

 6. Looping through a Tuple
Use a for loop to iterate over elements.

In [ ]:
t = ("apple", "banana", "cherry")
for fruit in t:
    print(fruit)

apple
banana
cherry


7. Tuple Length

In [ ]:
t = (10, 20, 30)
print(len(t))

3