print ** pattern

In [ ]:
for i in range(1,3):
  print("*",end="")

**

print pattern 2 rows 2 column

In [ ]:
for i in range(1,3):
  for j in range(1,3):
    print("*",end="")
  print()

**
**

print pattern 3 rows 3 columns

In [ ]:
for i in range(1,3):
  for j in range(1,4):
    print("*",end="")
  print()

***
***

print pattern 6 rows 6 columns

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print("*",end="")
  print()

******
******
******
******
******
******

print 12345 pattern

In [ ]:
for i in range(1,6):
  print(i,end="")

12345

print 12345 in 2 rows

In [ ]:
for i in range(1,3):
  for j in range(1,6):
    print(j,end="")
  print()

12345
12345

print 12345 in 6 rows

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(j,end="")
  print()

123456
123456
123456
123456
123456
123456

print 12345 in 10 rows

In [ ]:
for i in range(1,11):
  for j in range(1,7):
    print(j,end="")
  print()

123456
123456
123456
123456
123456
123456
123456
123456
123456
123456

print * pattern in right angled triangle

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

another method

In [ ]:
for i in range(1,6):
  print("" * (6-i) + "* "*i)

*
* *
* * *
* * * *
* * * * *

another method t0 print pyramid

In [ ]:
for i in range(1, 7):
    print(" " * (6 - i) + "* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

right angled triangle Right

In [ ]:
for i in range(1, 7):
    print("  " * (6 - i) + "* " * i)

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

print right angled triangle in numbers format

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

another method in pyramid

In [ ]:
for i in range(1,6):
  print(" " * (6-i) + (str(i)+" ") *i)

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5