In [ ]:
colors = ("red", "green", "blue")
for color in colors:
    print("Color:", color)

Color: red
Color: green
Color: blue

In [ ]:
info = {"name": "Ravi", "age": 25, "city": "Hyderabad"}
for key in info:
    print("Key:", key)

Key: name
Key: age
Key: city

In [ ]:
info = {"name": "Ravi", "age": 25, "city": "Hyderabad"}
for key, value in info.items():
    print(key, ":", value)

name : Ravi
age : 25
city : Hyderabad

In [ ]:
student_marks = {
    "Ravi": (80, 90, 85),
    "Anu": (75, 88, 92)
}
for name, marks in student_marks.items():
    print(name, "has marks:", marks)

Ravi has marks: (80, 90, 85)
Anu has marks: (75, 88, 92)

In [ ]:
students = [("Ravi", 21), ("Anu", 20), ("Raj", 22)]
for name, age in students:
    print(name, "is", age, "years old")

Ravi is 21 years old
Anu is 20 years old
Raj is 22 years old

In [ ]:
people = (
    {"name": "Ravi", "age": 21},
    {"name": "Anu", "age": 20}
)
for person in people:
    print(person["name"], "->", person["age"])

Ravi -> 21
Anu -> 20

In [ ]:
records = {
    "A001": ("Ravi", 85),
    "A002": ("Anu", 90)
}
for roll, (name, marks) in records.items():
    print("Roll:", roll, "Name:", name, "Marks:", marks)

Roll: A001 Name: Ravi Marks: 85
Roll: A002 Name: Anu Marks: 90