In [2]:
rows=5
for i in range(1,rows+1):
  n=65
  for j in range(1,i+1):
    print(chr(n),end="")
    n+=1
  print()

A
AB
ABC
ABCD
ABCDE

In [3]:
rows=5
n=65
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(chr(n),end="")
  n+=1
  print()

A
BB
CCC
DDDD
EEEEE

In [4]:
rows=5
n=65
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(chr(n),end="")
    n+=1
  print()

A
BC
DEF
GHIJ
KLMNO

In [19]:
rows=5
n=65
for i in range(1,rows+1):

    for j in range(1,i+1):

      if i%2==0:
         print(chr(n),end="")
         n+=1
      else:
        print(j,end="")
    print()
if (i==2) or (i==4):
  n=65

1
AB
123
CDEF
12345

In [20]:
rows = 5
for i in range(1, rows+1):
    if i % 2 == 0:
        n = 65
        for j in range(1, i+1):
            print(chr(n), end="")
            n += 1
    else:
        for j in range(1, i+1):
            print(j, end="")
    print()

1
AB
123
ABCD
12345

In [21]:

rows=6
for i in range(1,rows+1):
    print(" "*(rows-i)+("*")*i)

     *
    **
   ***
  ****
 *****
******

In [25]:
rows=5
n=65
b=97
for i in range(1,rows+1):
    for j in range(1,i+1):
      if i%2==0:
         print(chr(b),end="")
         b+=1
      else:
        print(chr(n),end="")
        n+=1
    print()
if (i==2) or (i==4):
  b=97
else:
  n=65

A
ab
BCD
cdef
EFGHI

In [26]:
rows = 5
n = 65
b = 97
for i in range(1, rows+1):
    for j in range(1, i+1):
        if i % 2 == 0:
            print(chr(b), end="")
            b += 1
        else:
            print(chr(n), end="")
            n += 1
    print()
    if (i == 2) or (i == 4):
        b = 97
    else:
        n = 65

A
ab
ABC
abcd
ABCDE

In [32]:
 rows=5
 for i in range(1,rows+1):
  print(" " * (rows - i), end="")
  for j in range(1,i+1):
    print(j,end="")
  print()

    1
   12
  123
 1234
12345

In [34]:
rows=5
for i in range(1,rows+1):
  print(" " * (rows - i), end="")
  for j in range(1,i+1):
    print(i,end="")
  print()

    1
   22
  333
 4444
55555

In [35]:
rows=5
for i in range(1,rows+1):
  n=65
  print(" " * (rows - i), end="")
  for j in range(1,i+1):
    print(chr(n),end="")
    n+=1
  print()

    A
   AB
  ABC
 ABCD
ABCDE

In [36]:
rows=5
n=65
for i in range(1,rows+1):
  print(" " * (rows - i), end="")
  for j in range(1,i+1):
    print(chr(n),end="")
  n+=1
  print()

    A
   BB
  CCC
 DDDD
EEEEE

In [39]:
rows=5
n=65
for i in range(1,rows+1):
  print(" " * (rows - i), end="")
  for j in range(1,i+1):

      if i%2==0:
         print(chr(n),end="")
         n+=1
      else:
        print(j,end="")
  print()
if (i==2) or (i==4):
  n=65

    1
   AB
  123
 CDEF
12345

In [41]:
rows=5
n=65
b=97
for i in range(1,rows+1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
      if i%2==0:
         print(chr(b),end="")
         b+=1
      else:
        print(chr(n),end="")
        n+=1
  print()
if (i==2) or (i==4):
  b=97
else:
  n=65

    A
   ab
  BCD
 cdef
EFGHI