In [ ]:
def find_primes_in_range(start, end):
    for num in range(start, end + 1):
        if num > 1:
            for i in range(2, num):
                if num % i == 0:
                    break
            else:
                print(num)

find_primes_in_range(10, 30)

11
13
17
19
23
29

In [ ]:
def get_primes_from_list(numbers):
    prime_list = []
    for num in numbers:
        if num > 1:
            for i in range(2, num):
                if num % i == 0:
                    break
            else:
                prime_list.append(num)
    return prime_list

my_list = [3, 4, 7, 9, 13, 20, 17]
prime_numbers = get_primes_from_list(my_list)
print("Prime numbers:", prime_numbers)

Prime numbers: [3, 7, 13, 17]

In [ ]:
def print_my_details(name, age, college, year_passed_out, percentage, native_place):
    print(f"My name is {name}. I am {age} years old. I studied at {college}. I passed out in {year_passed_out} with {percentage}% and my native place is {native_place}.")
print_my_details("Ramu", 22, "ABC College", 2023, 78.5, "Hyderabad")

My name is Ramu. I am 22 years old. I studied at ABC College. I passed out in 2023 with 78.5% and my native place is Hyderabad.

In [ ]:
def print_even_numbers(start, end):
    for i in range(start, end + 1):
        if i % 2 == 0:
            print(i)
print_even_numbers(1, 11)

2
4
6
8
10

In [ ]:
def print_family(f_name, m_name, sibling_name):
    print(f"My father's name is {f_name}, my mother's name is {m_name}, and my sibling's name is {sibling_name}.")
print_family("sankar", "Lakshmi", "devi")

My father's name is sankar, my mother's name is Lakshmi, and my sibling's name is devi.