In [ ]:
rows=int(input("enter a rows here"))
n=65
k=97
l=1
for i in range(1,rows+1):
  print(" "*(rows-i),end="")
  for j in range(2*i-1):
    if i==1:
      print(chr(k),end="")
    elif i==2:
      print(chr(n),end="")
      n+=1
    else:
      print(l,end="")
      l+=1
  print()
m=65
n=97
o=1
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(2*i-1):
    if i==1:
      print(chr(m),end="")
    elif i==2:
      print(chr(n),end="")
      n+=1
    else:
      print(o,end="")
      o+=1
  print()

enter a rows here3
  a
 ABC
12345
12345
 abc
  A

In [ ]:
rows=int(input("enter a number"))
for i in range(1,rows+1):
  print("*"*i,end="")
  print()
for i in range(rows,0,-1):
  print("*"*i,end="")
  print()

enter a number4
*
**
***
****
****
***
**
*

In [ ]:
rows=int(input("enter a number"))
n=65
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(chr(n),end="")
    n+=1
  print()
v=85
for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(chr(v),end="")
    v-=1
  print()

enter a number6
A
BC
DEF
GHIJ
KLMNO
PQRSTU
UTSRQP
ONMLK
JIHG
FED
CB
A

In [ ]:
rows=int(input("enter a number"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end="")
  print()
for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(j,end="")
  print()

enter a number5
1
12
123
1234
12345
12345
1234
123
12
1

In [ ]:
rows=9
inc=2
for i in range(1,rows+1):
    if i<=5:
        print("*" * i,end="")
        print()
    else:
        print((i-inc) * "*",end="")
        inc+=2
        print()

*
**
***
****
*****
****
***
**
*

In [ ]:
rows=5
for i in range(1,rows+1):
  print(" "*(rows-i)+"*"*i)
rows=4
for i in range(rows,0,-1):
  print(" "*(rows-(i-1))+"*"*i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
rows=5
for i in range(1,rows+1):
    print(" " * (rows-i),end="")
    for j in range(1,i+1):
        print("*" ,end="")
    print()
rows=4
for i in range(rows,0,-1):
    print(" " * (rows-(i-1)),end="")
    for j in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
rows=4
for i in range(1,rows+1):
  if i==1 or i==2 or i==3:
    for j in range(2):
      print("*",end="")
    print(" "*2,end="")
    for j in range(2):
      print("*",end="")
    print()
  else:
    print("*"*6,end="")

**  **
**  **
**  **
******