In [1]:
rows=5
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(j,end="")
  print()

12345
 1234
  123
   12
    1

In [2]:
rows=int(input("enter a rows here"))
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print("*",end="")
  print()

enter a rows here6
******
 *****
  ****
   ***
    **
     *

In [3]:
rows=int(input("enter a rows here"))
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(i,end="")
  print()

enter a rows here5
55555
 4444
  333
   22
    1

In [11]:
rows=int(input("enter a rows here"))
n=1
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(n,end="")
  n+=1

  print()

enter a rows here5
11111
 2222
  333
   44
    5

In [18]:
rows=int(input("enter a rows here"))
n=1
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(n,end="")

  print()

enter a rows here6
111111
 11111
  1111
   111
    11
     1

In [59]:
rows=int(input("enter a rows here"))
n=1
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(n,end="")
  n+=1

  print()

enter a rows here6
111111
 22222
  3333
   444
    55
     6

In [19]:
rows=int(input("enter a rows here"))
n=65
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(chr(n),end="")
  n+=1

  print()

enter a rows here6
AAAAAA
 BBBBB
  CCCC
   DDD
    EE
     F

In [20]:
rows=int(input("enter a rows here"))
for i in range(rows,0,-1):
  n=65
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(chr(n),end="")
    n+=1

  print()

enter a rows here6
ABCDEF
 ABCDE
  ABCD
   ABC
    AB
     A

In [21]:
rows=int(input("enter a rows here"))
for i in range(rows,0,-1):
  n=65
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    print(chr(n),end="")
  print()

enter a rows here6
AAAAAA
 AAAAA
  AAAA
   AAA
    AA
     A

In [29]:
rows=int(input("enter a rows here"))
for i in range(rows,0,-1):
  print(" "*(rows-i),end="")
  for j in range(1,i+1):
    if i%2==0:
      print(chr(n),end="")
      n+=1
    else:
      print(j,end="")
  print()
  if i==2 or i==4:
    n=65

enter a rows here6
ABCDEF
 12345
  GHIJ
   123
    AB
     1

In [45]:
rows=int(input("enter a rows here"))
n=65
for i in range(rows,0,-1):

  k=65
  print(" "*(rows-i),end="")
  if i==5:
    for j in range(1,i+1):
      print(chr(n),end="")
    n+=1
  elif i==4:
    for j in range(1,i+1):
      print(chr(n),end="")
    n+=1
  elif i==3 or i==2 or i==1:
    for j in range(1,i+1):
      print(chr(k),end="")
      k+=1
  else:
    pass
  print()

enter a rows here6

 AAAAA
  BBBB
   ABC
    AB
     A

In [47]:
rows = int(input("Enter rows: "))
n = 65
for i in range(rows, 0, -1):
    k = 65
    print(" " * (rows - i), end="")
    for j in range(1, i + 1):
        if i == 5 or i == 4:
            print(chr(n), end="")
        else:
            print(chr(k), end="")
            k += 1
    if i == 5 or i == 4:
        n += 1
    print()

Enter rows: 5
AAAAA
 BBBB
  ABC
   AB
    A

In [51]:
rows=int(input("enter a rows here: "))
for i in range(1,rows+1):
  print(" "*(rows-i)+("*")*(2*i-1))

enter a rows here: 6
     *
    ***
   *****
  *******
 *********
***********

In [58]:
rows=int(input("enter a rows here: "))
for i in range(1,rows+1):
  print(" "*(rows-i)+("*")*(2*i-1))
for i in range(rows,0,-1):
  print(" "*(rows-i)+("*")*(2*i-1))

enter a rows here: 6
     *
    ***
   *****
  *******
 *********
***********
***********
 *********
  *******
   *****
    ***
     *