<a href="https://colab.research.google.com/github/Sankarrao9398/python-from-basics-to-advanced/blob/main/Third_Party_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import requests
posts_url = "https://jsonplaceholder.typicode.com/posts"

In [3]:
# 1. Fetch all posts
all_posts = requests.get(posts_url).json()
print("Total posts:", len(all_posts))  # Number of posts

Total posts: 100

In [4]:
# 3. Fetch posts where userId=3 and count them
user3_posts = []
for post in all_posts:
    if post["userId"] == 3:
        user3_posts.append(post)
print("Number of posts by userId 3:", len(user3_posts))

Number of posts by userId 3: 10

In [5]:
# 4. Fetch post with id=50 and print title and body
post_50 = requests.get(f"{posts_url}/50").json()
print("Post 50 title:", post_50["title"])
print("Post 50 body:", post_50["body"])

Post 50 title: repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem
Post 50 body: error suscipit maxime adipisci consequuntur recusandae
voluptas eligendi et est et voluptates
quia distinctio ab amet quaerat molestiae et vitae
adipisci impedit sequi nesciunt quis consectetur

In [7]:
# 5. Fetch posts for userId=7 and print only their IDs
user7_post_ids = []
for post in all_posts:
    if post["userId"] == 7:
        user7_post_ids.append(post["id"])
print("IDs of posts by userId 7:", user7_post_ids)

IDs of posts by userId 7: [61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [8]:
users_url = "https://jsonplaceholder.typicode.com/users"
all_users = requests.get(users_url).json()
# 1. Count all users
print("Total users:", len(all_users))

Total users: 10

In [9]:
# 2. Get user by ID = 5
user5 = requests.get(f"{users_url}/5").json()
print("User 5 Name:", user5["name"])
print("User 5 Email:", user5["email"])

User 5 Name: Chelsey Dietrich
User 5 Email: Lucio_Hettinger@annie.ca

In [10]:
# 3. Find user(s) with username "Bret"
bret_users = []
for user in all_users:
    if user["username"] == "Bret":
        bret_users.append(user)
print("User(s) with username 'Bret':", bret_users)

User(s) with username 'Bret': [{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}]

In [11]:
# 4. Users in city "South Christy"
south_christy_users = []
for user in all_users:
    if user["address"]["city"] == "South Christy":
        south_christy_users.append(user["name"])
print("Users in South Christy:", south_christy_users)

Users in South Christy: ['Mrs. Dennis Schulist']

In [12]:
# 5. IDs of users whose company name contains "Group"
group_user_ids = []
for user in all_users:
    if "Group" in user["company"]["name"]:
        group_user_ids.append(user["id"])
print("User IDs with company containing 'Group':", group_user_ids)

User IDs with company containing 'Group': [7, 8]

In [13]:
# Base URL for todos
todos_url = "https://jsonplaceholder.typicode.com/todos"
all_todos = requests.get(todos_url).json()

# 1. Count all todos
print("Total todos:", len(all_todos))

Total todos: 200

In [14]:

# 2. Get todo with ID = 42
todo_42 = requests.get(f"{todos_url}/42").json()
print("Todo 42 title:", todo_42["title"])

Todo 42 title: rerum perferendis error quia ut eveniet

In [15]:

# 3. Count todos for userId = 3
user3_todos = []
for todo in all_todos:
    if todo["userId"] == 3:
        user3_todos.append(todo)
print("Number of todos for userId 3:", len(user3_todos))

Number of todos for userId 3: 20

In [16]:

# 4. List IDs of incomplete todos
incomplete_todo_ids = []
for todo in all_todos:
    if todo["completed"] == False:
        incomplete_todo_ids.append(todo["id"])
print("IDs of incomplete todos:", incomplete_todo_ids)

IDs of incomplete todos: [1, 2, 3, 5, 6, 7, 9, 13, 18, 21, 23, 24, 28, 29, 31, 32, 33, 34, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 51, 52, 53, 57, 58, 59, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 82, 84, 88, 94, 96, 97, 99, 100, 101, 102, 103, 104, 107, 111, 112, 113, 114, 115, 117, 118, 119, 120, 123, 124, 125, 128, 129, 131, 134, 135, 136, 137, 139, 143, 144, 145, 148, 149, 150, 152, 153, 160, 163, 164, 165, 166, 167, 168, 170, 172, 173, 174, 176, 177, 181, 184, 185, 186, 187, 192, 194, 200]

In [17]:

# 5. Count completed todos for userId = 5
completed_user5 = []
for todo in all_todos:
    if todo["userId"] == 5 and todo["completed"] == True:
        completed_user5.append(todo)
print("Number of completed todos for userId 5:", len(completed_user5))

Number of completed todos for userId 5: 12